:root {
    --color-palette0: #d3d1d1;
    --color-palette1: #aaa;
    --color-palette2: #1a1818;
    --color-palette3: #2e2b2b;
    --color-palette4: #363333;
    --color-palette5: #FCA311;
    --color-palette6: #d63b3b;
    --color-palette7: #e06817;
    --color-palette01: #F3F4EF;
    --color-palette02: #E3E0D9;
    --color-palette03: #E7DECD;
    --color-palette04: #AC9284;
    --color-palette05: #3094AE;
    --color-palette06: #14add3;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


@media (max-width: 992px) {

    body {
        overflow-x: hidden; /*menu jogado pra fora oculto*/
    }

    .nav {
        position: absolute;
        visibility: hidden;
        top: 0; /*começando logo abaixo do header*/
        right: 0;
        width: 50vw;
        height: 100vh; /*tela toda a partir do header*/
        background: #00000085;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%); /*joga menu pra fora lado direito*/
        transition: 1s;
    }

    .nav li {
        opacity: 1;
    }

    .mobile-menu div {
        display: block;
    }

    header.active .nav {
        transform: translateX(0%);
        transition: 1s;
        visibility: visible;
    }

    header.active .mobile-menu .line1 {
        transform: rotate(-45deg) translate(-5px, 7px); 
    }
         
    header.active .mobile-menu .line2 {
        opacity: 0;
    }
         
    header.active .mobile-menu .line3 {
        transform: rotate(45deg) translate(-5px, -7px); 
    }

    #foto {
        width: 250px;
        right: 20px;
        bottom: 300px;
    }
    
    /*Experiencia*/

 



@media (max-width: 768px) {

    body {
        overflow-x: hidden; /*menu jogado pra fora oculto*/
    }

    #home,
    #sobre,
    #experiencia,
    #projetos,
    #contato {
        max-width: 100vh;
    }

    header{
        position: fixed;
        display: flex;
        width: 100%;
        padding: 0px;
        justify-content:space-around;
        align-items: center;
        z-index: 10000;
        background: #111111;
    }

    .nav li {
        opacity: 1;
    }

    ul li.active a,
    ul li:hover a {
        color: #fff;
        transition: 1s;
        animation: animaBtn .5s linear; 
    }

    ul li a {
        font-size: 1.1em;
        font-weight: 500;
        color: #fff;
    }

    .homeMenu::before {
        display: none;
    }
    
    .sobreMenu::before {
        display: none;
    }

    .expMenu::before {
        display: none;
    }

    .projMenu::before {
        display: none;
    }

    .contMenu::before {
        display: none;
    }

    .mobile-menu div {
        display: block;
    }

    header.active .nav {
        transform: translateX(0%);
        transition: 1s;
    }

    header.active .mobile-menu .line1 {
        transform: rotate(-45deg) translate(-5px, 7px); 
    }
         
    header.active .mobile-menu .line2 {
        opacity: 0;
    }
         
    header.active .mobile-menu .line3 {
        transform: rotate(45deg) translate(-5px, -7px); 
    }

    /*Home*/

    #home .home-geral {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin: auto;
    }

    #home .home-geral .content h2 {
        text-align: center;
        font-size: 3em;
        white-space: nowrap;
    }

    #home .home-geral .content p {
        font-size: 1em;
        text-align: center;
    }

    .icones {
        text-align: center;
    }

    .icones a {
        font-size: 1.7em;
    }

    .botao {
        text-align: center;
        position: relative;
        right: 8px;
    }

    .botao .btn {
        font-size: .8em;
        max-width: 100px;
        color: var(--color-palette06);
        padding: 5px 10px;
        background: #111111;
        transition: 1s;
    }

    .btn:hover {
        color: #111111;
        transition: 1s;
        background: var(--color-palette06);
    }

    .foto-princ {
        position: relative;
        top: 20px;
    }

    #foto {
        width: 170px;
    }

    /*Sobre*/

    #sobre {
        padding-top: 100px;
        margin: auto;
        padding: 120px 0px;
    }

    .sobrePrinc {
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0px;
        padding-top: 130px;
        margin: auto;
    }


    .sobre-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 80vw;
        height: 70vh;
        border: 2px solid #3c3838;
        padding: 0px 30px;
      
    }

    .sobreTitulo {
        text-align: center;
        padding-top: 150px;
    }

    .sobreText p {
        font-size: .9em;
        font-weight: 500;
        text-align: center;
        max-width: 700px;
    }

    .sobreTitulo h2 {
        position: relative;
        top: 0px;
        font-size: 2.3em;
        font-family: 'Darker Grotesque', sans-serif;
        font-weight: 200;
        color: #3094AE;
        padding: 20px;
    }

    #logos img {
        width: 30px;
    }

    .foto-sobre img {
        position: relative;
        bottom: 370px;
        opacity: .1;
    }

    #logos {
        display: flex;
        width: 90%;
        gap: 20px;
        padding: 20px;
    }


    /*Experiencia*/

    #experiencia {
        padding: 150px 0px;
        margin: auto;
    }

    .expGeral {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        padding: 0px;
        width: 400px;
    }

    .expText {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .expText h2 {
        right: 0;
        text-align: center;
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 1.8em;
        color: #3094AE;
        font-weight: 200;
        
    }

    .expText h3 {
        right: 0;
        text-align: center;
        font-size: .8em;
    }
    
    /*Divs com empresas*/
    .container {
        grid-gap: 5px;
        width: 0px;
        padding: 50px 0px;
    }
    
    .box {
        padding: 0;
        width: 75px;
        height: 160px;
    }
    
    .expDate {
        position: relative;
        top: 137px;
        color: var(--color-palette06);
        z-index: 51;
        display: none;
        font-size: .7em;
    }
    
    .box:hover .expDate {
        display: block;
        transition: 1s;
        animation: moveToRightP .8s ease-in-out;
    }
    
    .expP {
        position: relative;
        top: 119px;
        left: 15px;
        color: #000;
        z-index: 51;
        display: none;
    }
    
    .expP span {
        font-size: .6em;
    }

    .box::before {
        top: 127px;
        left: 0px;
        width: 80px;
        height: 30px; 
    }
    
    .contentDivExp {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .imgPrinc {
        width: 100px;
    }
    
    .imgOculta {
        display: none;
        width: 90px;
        height: 160px;
    }
    
   
    .expText::before,
    .expText::after {
      display: none;
    }
       
    #expInfos p {
        font-size: .8em;
    }
    
    /*::-----projetos-----::*/
    #projetos {
        padding: 50px 0;
    }

    .projGeral-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 400px;
    }
    
    .projs {
        top: 150px;
        left: 350px;
        width: 500px;
    }   

    .projText h2 {
        font-size: 2em;
        font-family: 'Darker Grotesque', sans-serif;
        font-weight: 200;
        text-align: center;
        padding: 50px;
        padding-bottom: 40px;
    }
    
    #htextProj {
        font-size: 1em;
        font-family: 'Nunito', sans-serif;
        color: var(--color-palette05);
        text-align: left;
        padding-bottom: 10px;
    }
    
    
    #projInfos p {
        font-family: 'Nunito', sans-serif;
        color: var(--color-palette1);
        text-align: center;
        font-size: .8em;
        line-height: 1.3em;
        font-weight: 700;
        max-width: 400px;
        padding-bottom: 20px;
    }
    
    .card img {
        width: 200px;
        height: 300px;
        border-radius: 15px;
        border: 2px solid #3c3838;
    }
    
    .card::before {
        top: 228px;
        left: 2px;
        width: 196px;
        height: 70px; 
    }
    
    .card {
        position: absolute;
        width: 40%;
        height: 50%;
        left: 0;
        right: 0;
        cursor: pointer;
    }
    
    .card h3 {
        font-family: 'Nunito', sans-serif;
        position: relative;
        bottom: 70px;
        left: 12px;
        font-size: 1em;
        font-weight: 100;
        color: #fff;
    }
    
    .iconeCard {
        position: relative;
        bottom: 60px;
        left: 10px;
        color: #f1f1f1;
        font-size: 1.4em;
    }
    

    .btns {
        position: relative;
        left: 150px;
        width: 85px;
        height: 26px;
      
    }
 

    /*Contato*/

    .contatoGeral {
        position: relative;
        top: 50px;
    }
    
    .contato {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 250px;
        height: 360px;
        border-radius: 0px;
        background: var(--color-palette1);
        box-shadow:  10px 10px 15px #0000005e;
    }

    .contato h2 {
        color: var(--color-palette2);
        font-size: 1.5em;
        padding: 5px;
    }
    
    .contato form label {
        font-size: 13px;
    }
    
    .contato form input {
        margin-bottom: 5px;
        font-size: 12px;
    }

    .contato form textarea {
        font-size: 12px;
        margin-bottom: 10px;
        height: 90px;
    }

    .contato .btnContato {
        font-size: .8em;
    }

    .iconsContato {
        position: relative;
        left: 230px;
        bottom: 330px;
        padding: 30px;
        flex-direction: column;
        gap: 20px;
    }
    
    .iconsContato a {
        font-size: 1.7em;
    }

     /*Setas*/
     .setaPagHome, 
     .setaPagSobre, 
     .setaPagExp, 
     .setaPagProj {
         position: absolute;
         display: block;
     }

    .setaPagHome {
        left:80%;
        top: 600px;
    }
    
    .setaPagSobre {
        left: 80%;
        top: 600px;
    }
    
    .setaPagExp {
        left: 80%;
        top: 600px;
    }
    
    .setaPagProj {
        left: 80%;
        top: 600px;
    }
}
}
