:root {
    --color-palette0: #d3d1d1;
    --color-palette1: #aaa;
    --color-palette2: #1a1818;
    --color-palette3: #2e2b2b;
    --color-palette4: #363333;
    --color-palette5: #FCA311;
    --color-palette6: #d63b3b;
    --color-palette7: #e06817;
    --color-palette01: #F3F4EF;
    --color-palette02: #E3E0D9;
    --color-palette03: #E7DECD;
    --color-palette04: #AC9284;
    --color-palette05: #3094AE;
    --color-palette06: #14add3;
}

@media screen and (max-width: 1450px) {
    #projetos {
        background-image: url(/imagens/fundo_Projeto.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: right top;
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    
        #htextProj {
            position: relative;
            right: 10px;
            bottom: 60px;
            font-family: 'Jura', sans-serif;
            color: #fff;
        }
    
        .cards {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 80%;
            height: 80%;
            right: 10px;
            bottom: 40px;
        }
    
        #projInfos {
            position: relative;
            top: 300px;
            left: 0;
            font-family: 'Nunito', sans-serif;
            max-width: 700px;
            color: var(--color-palette1);
            text-align: center;
            font-size: 1.1em;
            line-height: 1.6em;
        }
    
        .setaPagProj {
            position: absolute;
            left: 47%;
            top: 700px;
            color: #fff;
            animation: animaSetaPag 1.5s linear infinite;
            z-index: 1;
        }

        .btns {
            position: relative;
            top: 320px;
            left: 0px;
        }

}


@media (max-width: 965px) {
    #foto {
        width: 10px;
        right: 520px;
        bottom: 220px;
    }

    .sobreText {
        padding-top: 0px;
    }

    .expText {
        padding-top: 0px;
    }

}

@media (max-width: 900px) {

    body {
        overflow-x: hidden; /*menu jogado pra fora oculto*/
    }

    .nav {
        position: absolute;
        visibility: hidden;
        top: 0; /*começando logo abaixo do header*/
        right: 0;
        width: 50vw;
        height: 100vh; /*tela toda a partir do header*/
        background: #00000085;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%); /*joga menu pra fora lado direito*/
        transition: 1s;
    }

    .nav li {
        opacity: 1;
    }

    .mobile-menu div {
        display: block;
    }

    header.active .nav {
        transform: translateX(0%);
        transition: 1s;
        visibility: visible;
    }

    header.active .mobile-menu .line1 {
        transform: rotate(-45deg) translate(-5px, 7px); 
    }
         
    header.active .mobile-menu .line2 {
        opacity: 0;
    }
         
    header.active .mobile-menu .line3 {
        transform: rotate(45deg) translate(-5px, -7px); 
    }

    .setaPagHome {
        display: none;
    }

    .setaPagSobre,
    .setaPagExp {
       display: none;
    }

    .setaPagProj {
        display: none;
    }

    #foto {
        width: 250px;
        right: 20px;
        bottom: 300px;
    }
    
    /*Sobre*/

    #sobre {
        padding-top: 150px;
    }

    .sobreTitulo {
        position: relative;
        top: 60px;
        left: 0px;
        padding-bottom: 50px;
    }

    .sobreFlex img {
        position: absolute;
        top: -30px;
        right: 60px;
        width: 150px;
    }

    .sobreText::before,
    .sobreText::after {
      display: none;
    }

    .sobrePrinc {
        position: relative;
        max-width: 700px;
        
        
    }

    .sobreText p {
        font-size: .9em;
        font-weight: 500;
        text-align: center;
        max-width: 700px;
    }

    #logos {
        display: flex;
        width: 90%;
        gap: 20px;
        padding: 20px;
    }

    .logoCursos {
        width: 40px;
    }

    /*Experiencia*/

    .expGeral {
        position: relative;
        top: 5px;
    }

    .expText::before,
    .expText::after {
      display: none;
    }

    .expText h2 {
        font-size: 1.8em;
        padding: 25px;
        min-width: 400px;
    }

    .expText h3 {
        font-size: 1em;
        line-height: 1em;
    }

    .box {
        position: relative;
        right: 10px;
        width: 120px;
        height: 120px;
    }

     .box img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .box:hover .imgPrinc {
        width: 300px;
    }

    .box:hover {
        opacity: 1;
        transition: .5s;
        cursor: pointer;
        border-radius: 20px;
        box-shadow: 1px 1px 5px #000;
    }

    .box::before {
        display: none;
    }

    .box:hover .expP {
        display: none;
    }

    .box:hover .expDate {
        display: none;
    }

    .imgPrinc {
        width: 200px;
    }

    .imgOculta {
        display: none;
    }

    .contentDivExp img {
        position: absolute;
        max-width: 85px;
    }

    .contentDivExp a {
        font-size: 0.1em;
        padding: 5px 5px;
    }

    #expInfos {
        position: relative;
        bottom: 550px;
        left: 95px;
    }

    #textInfos {
        position: relative;
        right: 90px;
        bottom: 15px;
    }

    #expInfos p {
        min-width: 400px;
        font-size: .9em;
        font-weight: 700;
        line-height: 1.4em;
    }
    
    .contentDivExp:hover .imgOculta {
        display: none;
    }

    .contentDivExp:hover .imgPrinc {
        display: block;
    }

    .container {
        grid-template-columns: repeat(3,1fr);
        grid-gap: 30px;
    }    

    #expInfos {
        position: relative;
        padding: 0px;
        top: 0px;
        right: 150px;
    }
}


@media (max-width: 768px) {

    body {
        overflow-x: hidden; /*menu jogado pra fora oculto*/
    }

    #home,
    #sobre,
    #experiencia,
    #projetos,
    #contato {
        max-width: 100vh;
    }

    header{
        position: fixed;
        width: 100%;
        padding: 0px;
        justify-content:space-between;
        align-items: center;
        z-index: 10000;
        background: #111111;
    }

    .nav li {
        opacity: 1;
    }

    ul li.active a,
    ul li:hover a {
        color: #fff;
        transition: 1s;
        animation: animaBtn .5s linear; 
    }

    ul li a {
        font-size: 1.1em;
        font-weight: 500;
        color: #fff;
    }

    .homeMenu::before {
        display: none;
    }
    
    .sobreMenu::before {
        display: none;
    }

    .expMenu::before {
        display: none;
    }

    .projMenu::before {
        display: none;
    }

    .contMenu::before {
        display: none;
    }

    .mobile-menu div {
        display: block;
    }

    header.active .nav {
        transform: translateX(0%);
        transition: 1s;
    }

    header.active .mobile-menu .line1 {
        transform: rotate(-45deg) translate(-5px, 7px); 
    }
         
    header.active .mobile-menu .line2 {
        opacity: 0;
    }
         
    header.active .mobile-menu .line3 {
        transform: rotate(45deg) translate(-5px, -7px); 
    }

    #foto {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #home .content h2 {
        font-size: 2.5em;
        top: 120px;
    }

    #home .content p {
        font-size: 1em;
        right: 5px;
        top: 110px;
        min-width: 300px;
    }

    #home .content .btn {
        left: -3px;
        top: 90px;
    }

    #home::before {
        width: 70vw;
        height: 200vw;
    }
    
    .logo img {
        position: relative;
        left: 50px;
        width: 60px;
        color: var(--color-palette0);
        transition: .5s;
    }

    .logo img:hover {
        width: 65px;
        transition: .5s;
    }

    .mobile-menu {
        right: 60px;
    }

    
    header.active .nav {
        transform: translateX(0%);
        transition: 1s;
    }

    .icones {
        right: 15px;
        top: 90px;
    }

    .icones a {
        font-size: 1.8em;
    }

    #pTextProj {
        position: relative;
        bottom: 50px;
        max-width: 300px;
    }

    .btn {
        padding: 5px 5px;
        font-size: .8em;
        width: 100px;
        left: 70px;
    }

    .btns {
        position: relative;
        top: 260px;
        left: 0px;
    }

    .sobreText h2 {
        font-size: 1.5em;
    }

    .projText h2 {
        font-size: 2em;
    }

    /*Sobre*/

    #sobre {
        padding-top: 100px;
    }

    .sobreTitulo {
        position: relative;
        top: 60px;
        left: 0px;
        padding-bottom: 50px;
    }

    .sobreFlex img {
        position: absolute;
        top: -20px;
        right: 30px;
        width: 120px;
    }

    .sobreText::before,
    .sobreText::after {
      display: none;
    }

    .sobrePrinc {
        position: absolute;
        right: 50%;
        transform: translateX(55%);
        max-width: 400px;
    }

    .sobreText p {
        font-size: .9em;
        font-weight: 500;
        text-align: center;
        max-width: 400px;
    }

    #logos {
        display: flex;
        width: 85%;
        gap: 20px;
        padding: 20px;
    }

    .logoCursos {
        width: 30px;
    }

    /*Experiencia*/
    .expGeral {
        position: relative;
        top: 5px;
    }

    .expText::before,
    .expText::after {
      display: none;
    }

    .expText h2 {
        font-size: 1.5em;
        padding: 25px;
        min-width: 400px;
    }

    .expText h3 {
        font-size: .9em;
        line-height: 1em;
    }

    .box {
        position: relative;
        right: 10px;
        width: 100px;
        height: 100px;
    }

    .box img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .box:hover .imgPrinc {
        width: 300px;
    }

    .box:hover {
        opacity: 1;
        transition: .5s;
        cursor: pointer;
        border-radius: 20px;
        box-shadow: 1px 1px 5px #000;
    }

    .box::before {
        display: none;
    }

    .box:hover .expP {
        display: none;
    }

    .box:hover .expDate {
        display: none;
    }

    .imgPrinc {
        width: 200px;
    }

    .imgOculta {
        display: none;
        width: 150px;
        height: 150px;
    }

    .contentDivExp img {
        position: absolute;
        max-width: 85px;
    }

    .contentDivExp h2 {
        font-size: 0.5em;
    }
    
    .contentDivExp a {
        font-size: 0.1em;
        padding: 5px 5px;
    }

    #expInfos {
        position: relative;
        bottom: 550px;
        left: 95px;
    }

    #textInfos {
        position: relative;
        right: 90px;
        bottom: 15px;
    }

    #expInfos p {
        min-width: 400px;
        font-size: .8em;
        font-weight: 700;
        line-height: 1.4em;
    }
    
    .contentDivExp:hover .imgOculta {
        display: none;
    }

    .contentDivExp:hover .imgPrinc {
        display: block;
    }

    .container {
        grid-template-columns: repeat(3,1fr);
        grid-gap: 30px;
    }    

    #expInfos {
        position: relative;
        padding: 0px;
        top: 0px;
        right: 150px;
    }

    /*::-----projetos-----::*/

    #projetos {
        padding-top: 100px;
        background-image: url(./imagens/fundo_Projeto.png);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: right top;
    }



    .projText h2 {
        font-size: 1.5em;
    }

    .projText::before,
    .projText::after {
      display: none;
    }

    .projs {
        width: 100%;
        height: 100%;
        min-width: 400px;
        max-height: 600px;
        display: flex;
        transform-style: preserve-3d;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .card img {
        position: relative;
        left: 20px;
        width: 180px;
        height: 230px;
    }

    .card::before {
        content: '';
        position: absolute;
        top: 160px;
        left: 20px;
        width: 181px;
        height: 72px; 
        background-color: #111111; 
        transition: .3s;
        z-index: 60;
    }
    
    .iconeCard {
        left: 25px;
        font-size: 1.1em;
        z-index: 61;
    }

    .card h3 {
        left: 25px;
        font-size: .8em;
        z-index: 62;
    }

    #htextProj {
        font-size: 1.1em;
        position: relative;
        bottom: 340px;
        right: 10px;
        font-family: 'Jost', sans-serif;
        color: var(--color-palette05);
    }
    
    #projInfos {
        position: relative;
        top: 250px;
        left: 0px;
    }
    
    #projInfos p {
        position: relative;
        bottom: 70px;
        font-family: 'Nunito', sans-serif;
        color: var(--color-palette1);
        text-align: center;
        font-size: .8em;
        line-height: 1.4em;
        font-weight: 700;
        min-width: 410px;
        
    }

    .btns {
        position: absolute;
        top: 350px;
        left: 10px;
        width: 65px;
    }

    /*Contato*/

    .contatoGeral {
        position: relative;
        top: 50px;
    }
    
    .contato {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 250px;
        height: 360px;
        border-radius: 0px;
        background: var(--color-palette1);
        box-shadow:  10px 10px 15px #0000005e;
    }

    .contato h2 {
        color: var(--color-palette2);
        font-size: 1.5em;
        padding: 5px;
    }
    
    .contato form label {
        font-size: 13px;
    }
    
    .contato form input {
        margin-bottom: 5px;
        font-size: 12px;
    }

    .contato form textarea {
        font-size: 12px;
        margin-bottom: 10px;
        height: 90px;
    }

    .contato .btnContato {
        font-size: .8em;
    }

    .iconsContato {
        position: relative;
        left: 230px;
        bottom: 330px;
        padding: 30px;
        flex-direction: column;
        gap: 20px;
    }
    
    .iconsContato a {
        font-size: 1.7em;
    }

    .setaPagHome {
        position: absolute;
        left: 90%;
        color: #fff;
        top: 550px;
        animation: animaSetaPag 1.5s linear infinite;
    }
    
    .setaPagSobre {
        position: absolute;
        left: 90%;
        top: 550px;
        color: #fff;
        animation: animaSetaPag 1.5s linear infinite;
        z-index: 1;
    }
    
    .setaPagExp {
        position: absolute;
        left: 120%;
        top: 420px;
        color: #fff;
        animation: animaSetaPag 1.5s linear infinite;
        z-index: 1;
    }
    
    .setaPagProj {
        position: absolute;
        color: #fff;
        left: 90%;
        top: 550px;
        animation: animaSetaPag 1.5s linear infinite;
        z-index: 1;
    }
    
    
    /*Setas*/
    .setaPagHome, 
    .setaPagSobre, 
    .setaPagExp, 
    .setaPagProj {
        position: absolute;
        bottom: 100px;
        display: block;
    }
}

/*::Divs Experiências::*/
@media screen and (max-width: 1500px) {
    .container {
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
    }    
}


