@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jura&family=Nunito:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&family=Outfit:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&family=Outfit:wght@700&family=Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&family=Gruppo&family=Poiret+One&display=swap');



:root {
    --color-palette0: #d3d1d1;
    --color-palette1: #aaa;
    --color-palette2: #1a1818;
    --color-palette3: #2e2b2b;
    --color-palette4: #363333;
    --color-palette5: #FCA311;
    --color-palette6: #d63b3b;
    --color-palette7: #e06817;
    --color-palette01: #F3F4EF;
    --color-palette02: #E3E0D9;
    --color-palette03: #E7DECD;
    --color-palette04: #AC9284;
    --color-palette05: #3094AE;
    --color-palette06: #14add3;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth; /*rolagem suave*/
    caret-color: transparent;
}

body {
    scroll-behavior: smooth;
    width: 100%;
    margin: 0;
}

.init-hidden {
    opacity: 0;
    position: relative;
    transform: translate3d(-100px, 0px, 0px);
    transition: .8s ease-in-out;
}

.init-hidden-right {
    opacity: 0;
    position: relative;
    transform: translate3d(100px, 0px, 0px);
    transition: .8s ease-in-out;
}

.init-hidden-off {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

/*::-----sections-----::*/
#sobre,
#experiencia,
#projetos,
#contato {
    width: 100vw;
    margin: auto;
    position: relative;
    min-height: 100vh;
    padding: 120px 100px;
}

/*::-----header-----::*/ 
header{
    position: fixed;
    width: 100%;
    height: 8vh;
    padding: 20px 200px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 10000;
    background: #111111;
}

.logo {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: #f3f3f3;
    font-size: 2em;
}

.logo span {
    color: #14add3;
    transition: 2s;
    font-size: .8em;
}

.logo:hover span {
    color: red;
    transition: 2s;
}

ul {
    position: relative;
    display: flex;
    gap: 40px;
}

ul li {
    list-style: none;
}

ul li a {
    font-family: 'Jura', sans-serif;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
}

ul li.active a,
ul li:hover a {
    color: var(--color-palette06);
    transition: 1s;
    animation: animaBtn .5s linear;
}

.homeMenu::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 0;
    width: 9.5%;
    height: 2px;
    background: linear-gradient(to right, #111, #fff);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.homeMenu:hover {
    color: var(--color-palette06);
}

.homeMenu:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.sobreMenu::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 50;
    width: 10%;
    height: 2px;
    background: linear-gradient(to right, #111, #fff);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.sobreMenu:hover {
    color: var(--color-palette06);
}

.sobreMenu:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.expMenu::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 50;
    width: 19%;
    height: 2px;
    background: linear-gradient(to right, #111, #fff);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.expMenu:hover {
    color: var(--color-palette06);
}

.expMenu:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.projMenu::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 50;
    width: 13%;
    height: 2px;
    background: linear-gradient(to right, #111, #fff);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.projMenu:hover {
    color: var(--color-palette06);
}

.projMenu:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.contMenu::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 50;
    width: 12.8%;
    height: 2px;
    background: linear-gradient(to right, #111, #fff);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.contMenu:hover {
    color: var(--color-palette06);
}

.contMenu:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@keyframes animaBtn {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

.mobile-menu {
    cursor: pointer;
    position: relative;
}

.mobile-menu div {
    width: 30px;
    height: 2px;
    background: #fff;
    margin: 6px;
    border-radius: 5px;
    transition: 1s;
    display: none;
}


/*::-----section home-----::*/
#home {
    position: relative;
    width: 100vw;
    margin: auto;
    min-height: 100vh;
    background: #111111;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

#home .home-geral {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    margin: auto;
}

#home .content {
    display: flex;
    flex-direction: column;
    z-index: 10
}

.content span {
    font-family: 'Jost', sans-serif;
    color: var(--color-palette06);
}

#home .content h2 {
    font-family: 'Jost', sans-serif;
    /*font-family: 'DM Sans', sans-serif;*/
    position: relative;
    font-size: 5em;
    color: #fff;
    font-weight: 800;
}

#home .content p {
    font-family: 'Nunito', sans-serif;
    position: relative;
    color: #909090;
    font-size: 1.5em;
    line-height: 1.6em;
}

.botao .btn {
    font-family: 'Nunito', sans-serif;
    position: relative;
    left: 1px;
    top: 10px;
    display: inline-block;
    font-size: 1.15em;
    max-width: 160px;
    color: var(--color-palette06);
    text-align: center;
    padding: 6px 10px;
    letter-spacing: 0.04em;
    text-decoration: none;
    border: 1px solid var(--color-palette06);
    background: #111111;
    transition: 1s;
}

.btn:hover {
    color: #111111;
    transition: 1s;
    background: var(--color-palette06);
}

/*icones redes sociais*/
.icones {
    position: relative;
    right: 10px;
}

.icones a {
    padding-top: 15px;
    padding-left: 10px;
    color: white;
    font-size: 2.6em;
    display: inline-block;
    border: #ffffff;
    transition: 1s;
}

.linke:hover {
    color: #0A66C2;
}

.git:hover {
    color: #7C43C6;
}

.insta:hover {
    color: linear-gradient(to right, red, yellow, green);
}

.insta:hover {
    animation: animaLogoInsta 2s linear infinite;
}

@keyframes animaLogoInsta {
    0%{
        color: #0040FF;
    }
    50%{
        color: #B500FF;
    }
    100%{
        color: #0040FF;
    }
}


/*foto principal*/
#foto {
    opacity: 0.5;
    animation: animaFoto 5s linear infinite;
    transition: 1s;
}

#foto:hover {
    opacity: 1;
    transition: 1s;
}

@keyframes animaFoto {
    0%{
        transform: scale(1.05, 1.05);
    }
    50%{
        transform: scale(1, 1);
    }
    100%{
        transform: scale(1.05, 1.05);
    }
}


/*::-----Section sobre-----::*/
#sobre {
    background: #151515;
    padding-top: 200px;
}

.sobrePrinc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
}

.sobre-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 1200px;
    border: 2px solid #3c3838;
    padding: 10px 30px;
    background: #1a1a1a;
    border-radius: 5px;
}

.sobreTitulo {
    position: relative;
    right: 40px;
}


.sobreTexto p {
    font-family: 'Nunito', sans-serif;
    color: #909090;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.6em;
}


.sobreTitulo h2 {
    position: relative;
    left: 10px;
    font-size: 2.3em;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 200;
    color: #3094AE;
    padding: 30px;
}

.pisc {
    animation: piscas 3s infinite;
    opacity: 0;
    animation-delay: 1s;
}

.pisc:nth-child(2) {
    animation-delay: 2s;
}

.pisc:nth-child(3) {
    animation-delay: 3s;
}

@keyframes piscas {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*logotipos escolas*/
#logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    padding-top: 20px;
}

.logoCursos {
    opacity: 0.7;
    transition: 1.5s;
}

.logoCursos:hover {
    transform: scale(1.1, 1.1);
    opacity: 1;
    transition: 1s;
}

#logos img {
    width: 40px;
}


/*::-----section experiencia-----::*/
#experiencia {
    background: #111111;
    background-image: url(./imagens/experiencia_fundo.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: fixed;
}

.expGeral {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 70px;
    width: 1000px;
}


.expText h2 {
    position: relative;
    right: 500px;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2.3em;
    color: #3094AE;
    font-weight: 200;
    
}

.expText h3 {
    position: relative;
    right: 300px;
    font-family: 'Nunito', sans-serif;
    max-width: 700px;
    color: #fff;
    font-size: 1em;
    line-height: 1.6em;
    font-weight: 100;
}


/*Divs com empresas*/
.container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 15px;
    margin: auto;
    width: 80%;
    padding: 50px;
}

.box {
    position: relative;
    padding: 20px 10px;
    width: 250px;
    height: 350px;
    background: #fff;
    border-radius: 0px;
    opacity: 0.9;
    transition: .5s;
    overflow: hidden;
    transition: .5s;
    border: 2px solid #fff;
    box-shadow:  5px 5px 10px #000000d7;
}

.expDate {
    position: relative;
    top: 300px;
    color: var(--color-palette06);
    z-index: 51;
    display: none;
    font-size: 1.1em;
}

.box:hover .expDate {
    display: block;
    transition: 1s;
    animation: moveToRightP .8s ease-in-out;
}

.expP {
    position: relative;
    top: 278px;
    left: 25px;
    color: #000;
    z-index: 51;
    display: none;
}

.expP span {
    font-family: 'Nunito', sans-serif;
    font-size: .9em;
    font-weight: 700;
}

.box:hover .expP {
    display: block;
    transition: 1s;
    animation: moveToRightP 1.5s ease-in-out;
    color: #fff;
}

@keyframes moveToRightP {
    0% {
      transform: translateX(-250px);
    }
    100% {
      transform: translateX(0);
    }
  }

.box:hover {
    opacity: 1;
    transition: .5s;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #000;
}

.box::before {
    content: '';
    position: absolute;
    top: 300px;
    left: 0px;
    width: 300px;
    height: 70px; 
    background-color: #fff; 
    transition: .3s;  
    z-index: 3;
}

.box:hover::before {
    background-color: #111111;
    transition: 2s;
}

.contentDivExp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgPrinc {
    width: 200px;
}

.imgOculta {
    display: none;
    width: 250px;
    height: 350px;
}

.contentDivExp:hover .imgOculta {
    display: block;
    transition: 1s;
    animation: moveToRight .5s ease-in-out;
}

.contentDivExp:hover .imgPrinc {
    display: none;
}

@keyframes moveToRight {
    0% {
      transform: translateX(-250px);
    }
    100% {
      transform: translateX(0);
    }
  }

#expInfos {
    position: relative;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

#expInfos p {
    font-family: 'Nunito', sans-serif;
    max-width: 700px;
    color: var(--color-palette1);
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.6em;
}

/*::-----projetos-----::*/
#projetos {
    background: #151515;
    padding-top: 100px;
    background-image: url(./imagens/fundo_Projeto.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: right top;
}

.projGeral-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.projs {
    position: relative;
    bottom: 10px;
    left: 250px;
    width: 500px;
    transform-style: preserve-3d;
}   

.projText h2 {
    font-size: 2.3em;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 200;
    color: #3094AE;
    text-align: left;
    padding: 100px;
    padding-bottom: 100px;
}

#htextProj {
    font-size: 1.3em;
    font-family: 'Nunito', sans-serif;
    color: var(--color-palette05);
}


#projInfos p {
    font-family: 'Nunito', sans-serif;
    color: var(--color-palette1);
    text-align: left;
    font-size: .9em;
    line-height: 1.3em;
    font-weight: 700;
    max-width: 500px;
    padding-bottom: 50px;
}

input[type=radio] {
    display: none;
}

.card img {
    width: 220px;
    height: auto;
    border-radius: 20px;
}

.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: .7s ease;
}


.iconeCard {
    position: relative;
    left: 10px;
    color: #fff;
    font-size: 1.4em;
}

.cards {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 75%;
    height: 100%;
    right: 300px;
}

#item-1:checked ~ .cards #song-3, /*item1 clicado, o item3 (song-3) é jogado para a esquerda*/
#item-2:checked ~ .cards #song-1, 
#item-3:checked ~ .cards #song-5,
#item-4:checked ~ .cards #song-2,
#item-5:checked ~ .cards #song-4 { 
    transform: translateX(-65%) scale(0.9) rotateY(45deg) rotateX(10deg) rotate(9deg);
    top: 20px;
    opacity: 0.9;
    z-index: 1;
} 

#item-1:checked ~ .cards #song-2, /*item1 clicado, o item2 (song-2) é jogado para a direita*/
#item-2:checked ~ .cards #song-4,
#item-3:checked ~ .cards #song-1,
#item-4:checked ~ .cards #song-5,
#item-5:checked ~ .cards #song-3  {
    transform: translateX(65%) scale(0.9) rotateY(-45deg) rotateX(10deg) rotate(-9deg);
    top: 20px;
    opacity: 0.9;
    z-index: 1;
} 

#item-1:checked ~ .cards #song-5, /*item1 clicado, o item2 (song-5) é jogado para a esquerda final*/
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-4,
#item-4:checked ~ .cards #song-1,
#item-5:checked ~ .cards #song-2  {
    transform: translateX(-95%) scale(0.8) rotateY(80deg) rotateX(2deg) rotate(4deg);
    top: -10px;
    opacity: 0.4;
    z-index: 0;
} 

#item-1:checked ~ .cards #song-4, /*item1 clicado, o item2 (song-4) é jogado para a direita final*/
#item-2:checked ~ .cards #song-5,
#item-3:checked ~ .cards #song-2,
#item-4:checked ~ .cards #song-3,
#item-5:checked ~ .cards #song-1  {
    transform: translateX(95%) scale(0.8) rotateY(-80deg) rotateX(2deg) rotate(-4deg);
    top: -10px;
    opacity: 0.4;
    z-index: 0;
} 

#item-1:checked ~ .cards #song-1, /*item1 clicado, ele mesmo fica no centro*/
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3,
#item-4:checked ~ .cards #song-4,
#item-5:checked ~ .cards #song-5  {
    transform: translateX(0) scale(1) rotateX(25deg);
    top: 45px;
    opacity: 1;
    z-index: 2;
} 

#item-1:checked ~ .cards #song-1 img,
#item-2:checked ~ .cards #song-2 img,
#item-3:checked ~ .cards #song-3 img,
#item-4:checked ~ .cards #song-4 img,
#item-5:checked ~ .cards #song-5 img  {
    box-shadow: 0px 10px 30px 10px rgba(24, 20, 20, 0.904);
} 


.btns {
    position: relative;
    width: 85px;
    height: 26px;
    display: none;
    font-family: 'Nunito', sans-serif;
    font-size: .8em;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-align: center;
    padding: 5px 5px;
    border-radius: 2px;
    transition: .5s;
    background: #fff;
}

.btns:hover {
    background: var(--color-palette06);
    color: #fff;
}


/*::-----contato-----::*/
#contato {
    background: #111111;
    display: flex;
    justify-content: center;
    background-image: url(./imagens/email_fundo.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: left top;
}

.contatoGeral {
    position: relative;
    top: 100px;
    padding-top: 100px;
}

.contato {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    width: 800px;
    height:250px;
    border-radius: 5px;
    background: #1a1a1a;
    border: 2px solid #3c3838;
    box-shadow:  10px 10px 15px #0000005e;
}

#contato h2 {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2.3em;
    color: #3094AE;
    font-weight: 200;
}

.contato h2 {
    font-family: 'Jost', sans-serif;
    color: var(--color-palette2);
    font-size: 2.5em;
    padding: 5px;
}

.contato label {
    font-family: 'Nunito', sans-serif;
    color: #f1f1f1;
}

.contato form {
    display: flex;
    flex-direction: row;
}

.cont-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
}

.cont-mensg {
    position: relative;
    top: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
}

input[type=text] {
    padding: 15px;
    width: 300px;
    outline: none;
    border: 0;
    margin-bottom: 30px;
    font-size: 15px;
    transition: all 0.5s;
    caret-color: #0A66C2;
}


.contato form textarea {
    height: 145px;
    width: 300px;
    outline: none;
    border: 0;
    font-size: 15px;
    transition: all 0.5s;
    caret-color: #0A66C2;
}


.btnContato {
    position: relative;
    font-family: 'Nunito', sans-serif;
    top: 43px;
    left: 15px;
    width: 70px;
    height: 144px;
    cursor: pointer;
    font-size: 15px;
    background: var(--color-palette3);
    color: #fff;
    transition: all 1s;
    border: none;
}

.btnContato:hover {
    background: var(--color-palette06);
    transition: 1s;
}


/*icones contato*/
.iconsContato {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 150px;
}

.iconsContato a {
    color: #fff;
    font-size: 1.5em;
}

.icoFace:hover {
    color: #395498;
    transition: .5s;
}

.icoInsta:hover {
    animation: animaLogoInsta 2s linear infinite;
}

@keyframes animaLogoInsta {
    0%{
        color: #0040FF;
    }
    50%{
        color: #B500FF;
    }
    100%{
        color: #0040FF;
    }
}

.icoZap:hover {
    color: #29AF3E;
    transition: .5s;
}

.icoGit:hover {
    color: #7C43C6;
    transition: .5s;
}

.icoLinke:hover {
   color: #0A66C2;
   transition: .5s;
}

/*::-----Página Thanks-----::*/

.thanks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: var(--color-palette3);
}

.textThanks {
    color: var(--color-palette1);
}

.pThanks {
    color: var(--color-palette1);
}

.btnThanks {
    position: relative;
    top: 10px;
    width: 150px;
    font-size: 1em;
    color: var(--color-palette1);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    border: solid 1px var(--color-palette1);
    transition: all 0.5s;
}

.btnThanks:hover {
    border-radius: 10px;
    border: none;
    background: var(--color-palette7);
    color: #fff;
}

/*setas rodapé*/
.setaPagHome {
    position: absolute;
    left: 50%;
    color: #fff;
    top: 85%;
    animation: animaSetaPag 1.5s linear infinite;
}

.setaPagSobre {
    position: absolute;
    left: 50%;
    top: 85%;
    color: #fff;
    animation: animaSetaPag 1.5s linear infinite;
    z-index: 1;
}

.setaPagExp {
    position: absolute;
    left: 50%;
    top: 85%;
    color: #fff;
    animation: animaSetaPag 1.5s linear infinite;
    z-index: 1;
}

.setaPagProj {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 85%;
    animation: animaSetaPag 1.5s linear infinite;
    z-index: 1;
}

@keyframes animaSetaPag {
    0%{
        transform: translateY(40%);
    }
    50%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(40%);
    }
}
