@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@700&family=Paytone+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgb(233, 231, 227);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.mobile-menu {
    cursor: pointer;
}

.mobile-menu div {
    width: 25px;
    height: 3px;
    margin: 4px;
    border-radius: 6px;
    background: rgb(0, 0, 0);
    display: none;
    transition: 1s;
}

.imagem {
    position: fixed;
    top: 250px;
    right: 200px;
    width: 300px;
    height: 300px;
}

.imagem.active {
    display: none;
}

.tituloPrinc {
    color: #0075FF;
}

header a {
    font-family: 'Gruppo', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

ul {
    position: relative;
    display: flex;
    gap: 40px;
}

ul li {
    list-style: none;
}

ul li a {
    color: black;
}

ul li a:hover {
    color: #0075FF;
}

h2 {
    font-family: 'Gruppo', sans-serif;
    padding: 30px 0px;
}

span {
    font-family: 'Gruppo', sans-serif;
    font-size: 1.1em;
}

.medida {
    font-size: 0.8em;
}

.tituloRadios {
    font-size: 0.8em;
}

.geral {
    padding: 10px 10px;
}

.geral.active {
    filter: blur(20px);
}

.header.active {
    filter: blur(20px);
}

.central {
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.266);
    padding: 30px;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.inputs {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.349);
}

.label {
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.25rem ;
    user-select: none;
}

.botoes {
    padding-top: 20px;
}

.botoes input {
    font-family: 'Gruppo', sans-serif;
    font-weight: bold;
    width: 70px;
    height: 25px;
    background: #fff;
    color: #0075FF;
    border-radius: 5px;
    border: 1px solid #0075FF;
}

.botoes input:hover {
    color: #fff;
    background: #0075FF;
    border: none;
    cursor: pointer;
}

.radios {
    padding-top: 20px;
}

input[type=radio], input[type=checkbox]  {
    border: 0px;
    width: 22px;
    height: 25px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=number] {
    padding: 10px;
}

label {
    font-family: 'Gruppo', sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.result {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.266);
    padding: 30px;
    flex-direction: column;
    background: #fff;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.result.active {
    top: 1%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.tmbFinal {
    font-family: 'Paytone One', sans-serif;
    font-size: 2.5em;
    color: #969ca3;
}

.gastoFinal {
    font-family: 'Paytone One', sans-serif;
    font-size: 2.5em;
    color: #969ca3;
}

.menu p {
    color: #5d6063;
    text-align: center;
}

.menu h2 {
    color: #0075FF;
}

.menuOque {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 30%);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.266);
    padding: 30px;
    flex-direction: column;
    background: #fff;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.menuOque.active {
    top: 10%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.menuCalc {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 30%);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.266);
    padding: 30px;
    flex-direction: column;
    background: #fff;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.menuCalc.active {
    top: 10%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.menuInflu {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 10%);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.266);
    padding: 30px;
    flex-direction: column;
    background: #fff;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.menuInflu.active {
    top: 10%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.menuAument {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 10%);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.266);
    padding: 30px;
    flex-direction: column;
    background: #fff;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.menuAument.active {
    top: 10%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.exit {
    position: fixed;
    left: 90%;
    font-size: 20px;
    cursor: pointer;
    padding: 2px;
}

.exit:hover {
    background: #dcdee0;
    border-radius: 50%;
}

#recarregar {
    cursor: pointer;
    padding: 5px;
}

#recarregar:hover {
    background: #dcdee0;
    border-radius: 50%;
}