@charset "UTF-8";

@media screen and (max-width: 1650px) {

    .exerc {
        width: 180px;
        height: 400px;
    }
    
    .exerc img {
        width: 70%;
    }

    .exerc h3 {
        top: 360px;
        color: #fff;
    }

    .exit {
        left: 90%;
        top: 50px;
    }

    .textos h2 {
        position: relative;
        text-align: center; 
   }

    h4 {
        font-size: .9em;
        font-weight: 100;
        text-align: center;
        padding-bottom: 0px;
    }

    .textos p {
        font-size: .8em;
    }
}

@media screen and (max-width: 1366px) {

    .principal {
        grid-gap: 10px;
    }

    .container-cards {
        padding: 50px;
    }

    .suple-cards {
        display: grid;
        grid-template-columns: repeat(4, 6fr);
        width: 800px;
    }

    .div-suples {
        position: fixed;
        top: 85%;
        left: 48%;
        width: 70%;
        height: 600px;
        transform: translate(-50%, 50%);
        border-radius: 30px;
        padding: 20px;
    }

    .treino-cards {
        grid-template-columns: repeat(4, 6fr);
        gap: 30px;
        margin: 20px;
        width: 850px;
    }

}

@media screen and (max-width: 1024px) {

    body {
        overflow-x: hidden; 
    }

    #home {
        padding-top: 50px;
        background-size: 30%;
        background-position: center 80px;
        background: var(--cor-paleta3);
    }

    .iconePrinc {
        position: relative;
        width: 90px;
    }

    #home .fotoPrinc {
        width: 250px;
        padding-top: 50px;
    }

    ul li a {
        font-family: 'Nunito', sans-serif;
        font-size: .8em;
    }

    .variacao {
        position: relative;
        top: 30px;
        font-size: .7em;
        min-width: 350px;
        max-width: 600px;
    }

    .inform {
        position: relative;
        top: 30px;
        font-size: .7em;
        min-width: 350px;
        max-width: 600px;
    }

    .trainingMenu::before {
        display: none;
    }
    .trainingMenu::after {
        display: none;
    }

    .nutriMenu::before {
        display: none;
    }
    .nutriMenu::after {
        display: none;
    }

    .supleMenu::before {
        display: none;
    }
    .supleMenu::after {
        display: none;
    }

    .tmbMenu::before {
        display: none;
    }
    .tmbMenu::after {
        display: none;
    }

    .metodMenu::before {
        display: none;
    }
    .metodMenu::after {
        display: none;
    }

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0px;
    }

    .imagens img {
        border-radius: 10px;
        width: 300px;
        height: 300px;
    }

    .principal {
        top: 10px;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 5px;
    }

    .exerc {
        width: 150px;
        height: 270px;
    }

    .exerc img {
        top: 40%;
    }

    .exerc h3 {
        top: 230px;
        color: #fff;
    }

    .exit {
        left: 90%;
        top: 50px;
        width: 40px;
    }

    .divPrinc h2 {
        font-size: 1em;
        text-align: center;
    }

    .textos p {
        display: none;
    }

    .textos h4 {
        text-align: center;
        font-size: .8em;
        max-width: 500px;
    }

    .container-cards {
        padding: 10px;
        margin: 30px;
    }

    .suple {
        height: 650px;
    }

    .suple-cards {
        grid-template-columns: repeat(3, 6fr);
        gap: 30px;
        margin: 20px;
        width: 550px;
    }

    .container-cards p{
        min-width: 480px;
        max-width: 700px;
        font-size: .8em;
        line-height: 1.2em;
        padding: 20px;
    }

    .suple h2 {
        font-size: 1.3em;
    }

    .div-suples {
        position: fixed;
        top: 85%;
        left: 45%;
        width: 80%;
        height: 500px;
        padding: 10px;
    }

    .containerMetod-cards {
        padding: 10px;
        margin: 30px;
    }

    .treinoDiv {
        height: 650px;
    }

    .treino-cards {
        grid-template-columns: repeat(3, 6fr);
        gap: 30px;
        margin: 20px;
        width: 550px;
    }

    .containerMetod-cards p{
        min-width: 480px;
        max-width: 700px;
        font-size: .8em;
        line-height: 1.2em;
        padding: 20px;
    }

    .treinoDiv h2 {
        font-size: 1.3em;
    }

    .div-metods {
        position: fixed;
        top: 85%;
        left: 45%;
        width: 80%;
        height: 500px;
        padding: 10px;
    }
}


@media screen and (max-width: 600px) {

    header {
        height: 6vh;
    }

    #home {
        padding-top: 10px;
        background-size: 65%;
        background-position: center 65px;
        height: 91vh;
    }

    section {
        height: 100vh;
    }

    .iconePrinc {
        width: 50px;
    }

    .ul {
        position: absolute;
        visibility: hidden;
        top: 0; 
        right: 0;
        width: 50vw;
        height: 100vh;
        background: #212934e4;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: 1s;
    }

    .ul li {
        position: relative;
        right: 50px;
        opacity: 1;
        font-size: 1.5em;
    }

    header.active .ul {
        transform: translateX(0%);
        transition: 1s;
        visibility: visible;
    }

    .mobileMenu div {
        display: block;
    }

    header.active .mobileMenu .line1 {
        transform: rotate(-45deg) translate(-5px, 7px); 
    }
         
    header.active .mobileMenu .line2 {
        opacity: 0;
    }
         
    header.active .mobileMenu .line3 {
        transform: rotate(45deg) translate(-5px, -7px); 
    }

    #home .fotoPrinc {
        position: relative;
        top: 40px;
        width: 200px;
        padding-top: 50px;
    }

    .principal {
        top: 50px;
        grid-template-columns: repeat(3, 2fr);
        grid-gap: 10px;
        margin: auto;
    }

    .variacao {
        position: relative;
        top: 60px;
        font-size: .7em;
        min-width: 350px;
        max-width: 600px;
    }

    .inform {
        position: relative;
        top: 60px;
        font-size: .7em;
        min-width: 350px;
        max-width: 600px;
    }

    .exerc {
        width: 120px;
        height: 200px;
    }

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0px;
    }

    
    .exerc img {
        top: 40%;
        width: 60%;
    }

    .imagens img {
        border-radius: 10px;
        width: 250px;
        height: 250px;
    }

    .exerc h3 {
        top: 160px;
        color: #fff;
    }

    ul li a {
        position: relative;
        font-size: .6em;
        left: 50px;
    }

    .divPrinc {
        top: -10px;
        max-height: 80vh;
        width: 99%;
    }

    .divPrinc h2 {
        font-size: 1em;
    }

    .divPrinc .tituloDiv {
        font-size: .7em;
        padding-bottom: 40px;
        width: 350px;
        text-align: center;
    }

    .exit {
        left: 90%;
        top: 50px;
        width: 40px;
    }

    .exit:hover {
        width: 45px;
        background: none;
    }

    .trainingMenu::before {
        width: 100%;
    }

    .tmbMenu::before {
        width: 100%;
    }

    
    .textos h2 {
        position: relative;
        text-align: center; 
   }

    h4 {
        font-size: .8em;
        font-weight: 100;
        text-align: center;
        padding-bottom: 0px;
    }

    .macro {
        padding-top: 0;
    }

    .macroExit{
        left: 80%;
    }

    .macros {
        padding: 0;
    }

    .macros img {
        width: 300px;
    }

    .macros h2 {
        font-size: .8em;
        width: 320px;
    }

    .macros h3 {
        font-size: .9em;
    }

    .macros p {
        font-size: .8em;
        width: 320px;
    }

    footer {
        height: 9vh;
        display: flex;
        flex-direction: column;
        align-items: right;
        z-index: 0;
    }

    #footer_redes .icon {
        padding-top: 7px;
    }

    #footer_redes {
        height:8vh;
    }
    
    #footer_copyright {
        height: 6vh;
    }
   
    #footer_copyright p {
        padding-top: 4px;
    }

    .container-cards {
        padding: 10px;
        margin: 30px;
    }

    .suple-cards {
        grid-template-columns: repeat(3, 6fr);
        gap: 30px;
        margin: 20px;
        width: 360px;
    }

    .container-cards p{
        min-width: 400px;
        max-width: 550px;
        font-size: .7em;
        line-height: 1.2em;
        padding: 20px;
    }

    .container-cards h2{
        width: 400px;
        padding: 10px;
    }

    .card {
        width: 100px;
        height: 140px;
        border: solid 1px #2d2d2d;
        border-radius: 10px;
        background: #111111;
        box-shadow: 2px 2px 5px #0000007f;
        transition: .3s;
    }

    .card-content h3 {
        font-size: .7em;
        max-width: 100px;
    }

    .suple h2 {
        font-size: 1.3em;
    }

    .div-suples {
        position: fixed;
        left: 43%;
        width: 90%;
        height: 450px;
        padding: 10px;
    }

    .div-suples h2 {
        font-family: 'Racing Sans One', sans-serif;
        padding-bottom: 30px;
        font-size: 1.2em;
    }

    .div-suples h3 {
        font-size: 1em;
    }
    
    .div-suples p {
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-size: .8em;
    }

    .supleExit {
        top: 80px;
        left: 85%;
        color: #fff;
    }

    .containerMetod-cards {
        padding: 10px;
        margin: 30px;
    }

    .treino-cards {
        grid-template-columns: repeat(3, 6fr);
        gap: 30px;
        margin: 20px;
        width: 360px;
    }

    .containerMetod-cards p{
        min-width: 400px;
        max-width: 550px;
        font-size: .7em;
        line-height: 1.2em;
        padding: 20px;
    }

    .containerMetod-cards h2{
        width: 400px;
        padding: 10px;
    }

    .card-treino {
        width: 100px;
        height: 140px;
        border: solid 1px #2d2d2d;
        border-radius: 10px;
        background: #111111;
        box-shadow: 2px 2px 5px #0000007f;
        transition: .3s;
    }

    .card-content h3 {
        font-size: .7em;
        max-width: 100px;
    }

    .treinoDiv h2 {
        font-size: 1.3em;
    }

    .div-metods {
        position: fixed;
        top: 85%;
        left: 43%;
        width: 90%;
        height: 450px;
        padding: 10px;
    }

    .div-metods h2 {
        font-family: 'Racing Sans One', sans-serif;
        padding-bottom: 30px;
        font-size: 1.2em;
    }

    .div-metods h3 {
        font-size: 1em;
    }
    
    .div-metods p {
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-size: .8em;
    }
}

@media screen and (max-width: 400px) {

    
    header {
        height: 6vh;
        padding: 10px 50px;
    }

    #home {
        padding-top: 10px;
        background-size: 65%;
        background-position: center 65px;
        height: 91vh;
    }

    section {
        height: 100vh;
    }

    .iconePrinc {
        width: 40px;
    }

    #home .fotoPrinc {
        position: relative;
        width: 120px;
        padding-top: 30px;
    }

    .variacao {
        position: relative;
        top: 55px;
        font-size: .6em;
        min-width: 300px;
        max-width: 380px;
    }

    .inform {
        position: relative;
        top: 55px;
        font-size: .6em;
        min-width: 320px;
        max-width: 380px;
    }

    .exerc {
        width: 90px;
        height: 170px;
    }

    .exerc img {
        top: 40%;
        width: 60%;
    }

    .imagens img {
        border-radius: 10px;
        width: 250px;
        height: 250px;
    }

    .exerc h3 {
        top: 130px;
        color: #fff;
        font-size: 1em;
    }

    ul li a {
        position: relative;
        font-size: .6em;
        left: 50px;
    }

    .divPrinc {
        top: -10px;
        max-height: 85vh;
        width: 99%;
    }

    .divPrinc h2 {
        font-size: .9em;
    }

    .divPrinc .tituloDiv {
        font-size: .6em;
        padding-bottom: 40px;
        width: 250px;
        text-align: center;
    }

    .exit {
        left: 88%;
        top: 50px;
        width: 40px;
    }

    .exit:hover {
        width: 45px;
        background: none;
    }

    .trainingMenu::before {
        width: 100%;
    }

    .tmbMenu::before {
        width: 100%;
    }

    
    .textos h2 {
        position: relative;
        text-align: center; 
   }

    h4 {
        font-size: .8em;
        font-weight: 100;
        text-align: center;
        padding-bottom: 0px;
    }

    .macro {
        padding-top: 0;
    }

    .macros {
        padding: 0px;
    }

    .macros img {
        width: 300px;
    }

    .macros h2 {
        font-size: .8em;
        width: 320px;
    }

    .macros h3 {
        font-size: .9em;
    }

    .macros p {
        font-size: .7em;
        width: 300px;
    }

    footer {
        height: 9vh;
        display: flex;
        flex-direction: column;
        align-items: right;
        z-index: 0;
    }

    #footer_redes .icon {
        padding-top: 7px;
    }

    #footer_redes {
        height:8vh;
    }
    
    #footer_copyright {
        height: 6vh;
    }
   
    #footer_copyright p {
        padding-top: 4px;
    }

    .container-cards {
        padding: 10px;
        margin: 30px;
    }

    .suple-cards {
        grid-template-columns: repeat(2, 6fr);
        gap: 20px;
        margin: 10px;
        width: 220px;
    }

    .suple h2 {
        font-size: 1.1em;
        width: 250px;
        padding-top: 0;
    }

    .container-cards p {
        min-width: 300px;
        max-width: 350px;
        font-size: .6em;
        line-height: 1.2em;
        padding: 10px;
    }

    .card {
        width: 100px;
        height: 140px;
        border: solid 1px #2d2d2d;
        border-radius: 10px;
        background: #111111;
        box-shadow: 2px 2px 5px #0000007f;
        transition: .3s;
    }

    .card-content h3 {
        font-size: .6em;
        max-width: 100px;
    }


    .div-suples {
        position: fixed;
        top: 50%;
        left: 42%;
        width: 90%;
        height: 400px;
        padding: 10px;
        transform: translate(-50%, 50%);
    }

    .div-suples h2 {
        font-family: 'Racing Sans One', sans-serif;
        padding-bottom: 30px;
        font-size: 1.2em;
    }

    .div-suples h3 {
        font-size: 1em;
    }
    
    .div-suples p {
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-size: .8em;
    }

    .supleExit {
        font-size: 30px;
        top: 50px;
        left: 80%;
        color: #fff;
    }

    .exit-suples {
        position: absolute;
        top: 15px;
        left: 80%;
        color: #000;
        font-size: 20px;
        border-radius: 50%;
        cursor: pointer;
        visibility: hidden;
        transition: .3s;
        z-index: 1000000;
    }

    .containerMetod-cards {
        padding: 10px;
        margin: 30px;
    }

    .treino-cards {
        grid-template-columns: repeat(2, 6fr);
        gap: 20px;
        margin: 10px;
        width: 220px;
    }

    .treinoDiv h2 {
        font-size: 1.1em;
        width: 250px;
        padding-top: 0;
    }

    .containerMetod-cards p {
        min-width: 300px;
        max-width: 350px;
        font-size: .6em;
        line-height: 1.2em;
        padding: 10px;
    }

    .card-treino {
        width: 100px;
        height: 140px;
        border: solid 1px #2d2d2d;
        border-radius: 10px;
        background: #111111;
        box-shadow: 2px 2px 5px #0000007f;
        transition: .3s;
    }

    .card-content h3 {
        font-size: .6em;
        max-width: 100px;
    }


    .div-metods {
        position: fixed;
        top: 50%;
        left: 42%;
        width: 90%;
        height: 420px;
        padding: 10px;
        transform: translate(-50%, 50%);
    }

    .div-metods h2 {
        font-family: 'Racing Sans One', sans-serif;
        padding-bottom: 30px;
        font-size: 1.2em;
    }

    .div-metods h3 {
        font-size: 1em;
    }
    
    .div-metods p {
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-size: .8em;
    }
}