@charset "UTF-8";

@media screen and (max-width: 1650px) {

    .exerc {
        width: 180px;
        height: 400px;
    }
    
    .exerc img {
        width: 70%;
    }

    .exerc h3 {
        top: 360px;
        color: #fff;
    }

    .textos h2 {
        position: relative;
        text-align: center; 
   }

    h4 {
        font-size: .9em;
        font-weight: 100;
        text-align: center;
        padding-bottom: 0px;
    }

    .textos p {
        font-size: .8em;
    }
}

@media screen and (max-width: 1024px) {

    body {
        overflow-x: hidden; 
    }

    #home {
        padding-top: 230px;
        background-size: 30%;
        background-position: center 80px;
    }


    .ul {
        position: absolute;
        visibility: hidden;
        top: 0; 
        right: 0;
        width: 50vw;
        height: 100vh;
        background: #212934e4;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        transform: translateX(100%);
        transition: 1s;
    }

    .ul li {
        opacity: 1;
        font-size: 1.8em;
    }

    .nutriMenu::before {
        width: 100%;
    }

    .supleMenu::before {
        width: 100%;
    }

    .mobileMenu div {
        display: block;
    }

    header.active .ul {
        transform: translateX(0%);
        transition: 1s;
        visibility: visible;
    }

    header.active .mobileMenu .line1 {
        transform: rotate(-45deg) translate(-5px, 7px); 
    }
         
    header.active .mobileMenu .line2 {
        opacity: 0;
    }
         
    header.active .mobileMenu .line3 {
        transform: rotate(45deg) translate(-5px, -7px); 
    }


    .exerc {
        width: 130px;
        height: 400px;
    }

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0px;
    }

    .imagens img {
        border-radius: 10px;
        width: 300px;
        height: 300px;
    }

    .principal {
        top: 20px;
        grid-template-columns: repeat(3, 2fr);
        grid-gap: 10px;
    }

    .exerc {
        width: 150px;
        height: 330px;
    }

    .exerc h3 {
        top: 280px;
        color: #fff;
    }

    .exit {
        left: 20px;
    }

    .divPrinc h2 {
        font-size: 1em;
        text-align: center;
    }

    .textos p {
        display: none;
    }

    .textos h4 {
        text-align: center;
        font-size: .8em;
        max-width: 500px;
    }
}


@media screen and (max-width: 768px) {


    #home {
        padding-top: 180px;
        background-size: 70%;
        background-position: center 65px;
    }

    #home h1 {
        text-align: center;
        font-size: 1.3em;
    }

    section {
        height: 100vh;
    }

    .iconePrinc {
        position: relative;
        right: 50px;
    }

    .principal {
        top: 20px;
        grid-template-columns: repeat(3, 2fr);
        grid-gap: 10px;
    }

    .exerc {
        width: 120px;
        height: 250px;
    }

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0px;
    }

    
    .exerc img {
        width: 70%;
    }

    .imagens img {
        border-radius: 10px;
        width: 250px;
        height: 250px;
    }

    .exerc h3 {
        top: 210px;
        color: #fff;
    }

    ul li a {
        position: relative;
        font-size: .6em;
        left: 50px;
    }

    .divPrinc {
        max-height: 80vh;
    }

    .divPrinc h2 {
        font-size: 1em;
    }

    .divPrinc .tituloDiv {
        font-size: 1em;
        padding-bottom: 40px;
        min-width: 400px;
        text-align: center;
    }

    .exit {
        left: 370px;
        top: 70px;
        width: 40px;
    }

    .exit:hover {
        width: 45px;
        background: none;
    }

    .trainingMenu::before {
        width: 100%;
    }

    .tmbMenu::before {
        width: 100%;
    }

    
    .textos h2 {
        position: relative;
        text-align: center; 
   }

    h4 {
        font-size: .8em;
        font-weight: 100;
        text-align: center;
        padding-bottom: 0px;
    }

    .macros img {
        width: 300px;
    }

    .macros p {
        font-size: .8em;
    }
}

