@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jura&family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');


*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --cor-paleta1: #DDDDDD;
    --cor-paleta2: #212934;
    --cor-paleta3: #2A4760;
    --cor-paleta4: #FE3E48;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
    height: 8vh;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(20px);
    background: var(--cor-paleta2);
}

.iconePrinc {
    position: relative;
}

ul {
    position: relative;
    display: flex;
    gap: 40px;
}

ul li {
    list-style: none;
}

ul li a {
    font-family: 'Nunito', sans-serif;
}

.trainingMenu {
    text-decoration: none;
    color: var(--cor-paleta1);
    transition: 1s;
}

.trainingMenu::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50;
    width: 8%;
    height: 2px;
    background: linear-gradient(to right, #212934, #DDDDDD);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.trainingMenu:hover {
    color: var(--cor-paleta4);
}

.trainingMenu:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nutriMenu {
    text-decoration: none;
    color: var(--cor-paleta1);
    transition: 1s;
}

.nutriMenu::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50;
    width: 11%;
    height: 2px;
    background: linear-gradient(to right, #212934, #DDDDDD);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.nutriMenu:hover {
    color: var(--cor-paleta4);
}

.nutriMenu:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.supleMenu {
    text-decoration: none;
    color: var(--cor-paleta1);
    transition: 1s;
}

.supleMenu::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50;
    width: 20.5%;
    height: 2px;
    background: linear-gradient(to right, #212934, #DDDDDD);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.supleMenu:hover {
    color: var(--cor-paleta4);
}

.supleMenu:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.tmbMenu {
    text-decoration: none;
    color: var(--cor-paleta1);
    transition: 1s;
}

.tmbMenu::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50;
    width: 32%;
    height: 2px;
    background: linear-gradient(to right, #212934, #DDDDDD);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.tmbMenu:hover {
    color: var(--cor-paleta4);
}

.tmbMenu:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.mobileMenu div {
    width: 30px;
    height: 3px;
    margin: 5px;
    background: #ddd;
    border-radius: 5px;
    transition: 1s;
    display: none;
}

.mobileMenu {
    cursor: pointer;
}

#home .fotoPrinc {
    width: 300px;
    padding: 0;
}

.treino {
    position: relative;
    top: 1%;
    left: 50%;
    min-width: 400px;
    transform: translate(-50%, 30%);
    border-radius: 10px;
    padding: 30px;
    flex-direction: column;
    background: #fff;
    align-items: center;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    z-index: 100000;
}

.treino.active {
    top: 10%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.tituloFichaPeito {
    visibility: hidden;
}

.tituloFichaPeito.active {
    visibility: visible;
}

.tituloFichaTriceps {
    visibility: hidden;
}

.tituloFichaTriceps.active {
    visibility: visible;
}

.tituloFichaCostas {
    visibility: hidden;
}

.tituloFichaCostas.active {
    visibility: visible;
}

.tituloFichaBiceps {
    visibility: hidden;
}

.tituloFichaBiceps.active {
    visibility: visible;
}

.tituloFichaPernas {
    visibility: hidden;
}

.tituloFichaPernas.active {
    visibility: visible;
}

.tituloFichaOmbros {
    visibility: hidden;
}

.tituloFichaOmbros.active {
    visibility: visible;
}

.fecharTreino {
    position: relative;
    top: 5%;
    left: 90%;
    cursor: pointer;
    border-radius: 50%;
    font-size: 30px;
}

.fecharTreino:hover {
    background: var(--cor-paleta1);
    transition: .5s;
}

.print {
    cursor: pointer;
    font-size: 30px;
    visibility: hidden;
}

.print:hover {
    font-size: 32px;
    transition: .5s;
}

.reload {
    position: fixed;
    left: 80%;
    cursor: pointer;
    font-size: 30px;
    border-radius: 50%;
    visibility: hidden;
}

.reload:hover {
    font-size: 32px;
    transition: .5s;
}

.print.active {
    visibility: visible;
}

.reload.active {
    visibility: visible;
}



@media print {
    body * {
        visibility: hidden;
    }
    .treino {
        position: absolute;
        left: 500px;
        top: 500px;
    }
    .treino p {
        visibility: visible;
        font-size: 1.5em;
    }
    .treino h2 {
        font-size: 2em;
    }
    @page {
        size: landscape;
    }
    .fecharTreino {
        visibility: hidden;
    }
    .treino .print {
        visibility: hidden;
    }
    .treino .reload {
        visibility: hidden;
    }
}

#home {
    position: relative;
    width: 100%;
    height: 92vh;
    background: var(--cor-paleta3);
    color: var(--cor-paleta1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

#home.active {
    filter: blur(10px);
}

.principal {
    position: relative;
    top: 10px;
    display: grid;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
}

.principal a {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

.exerc {
    position: relative;
    width: 250px;
    height: 500px;
    background: #DDDDDD;
    border-radius: 10px;
    border: 2px solid var(--cor-paleta1);
    margin: auto;
    opacity: .9;
    transition: .3s;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.552);
}

.exerc:hover {
    opacity: 1;
    transition: .3s;
}

.exerc::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; 
    background-color: var(--cor-paleta3); 
    border-radius: 0px 0px 10px 10px;
    transition: .3s;
}

.exerc:hover::before {
    background-color: var(--cor-paleta4);
    transition: .3s;
}

.exerc img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.exerc h3 {
    text-align: center;
    font-family: 'Racing Sans One', sans-serif;
    font-size: 1.6em;
    position: relative;
    top: 455px;
    color: var(--cor-paleta1);
    text-shadow: 2px 2px 5px #000;
}

.inform {
    font-family: 'Nunito', sans-serif;
    position: relative;
    max-width: 800px;
    text-align: center;
    font-size: .8em;
    top: 20px;
}

.divPrinc {
    position: fixed;
    top: 0;
    left: 50%;
    width: 90%;
    height: 800px;
    transform: translate(-50%, 10%);
    border-radius: 30px;
    padding: 10px;
    background: #111;
    color: var(--cor-paleta1);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    overflow: auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.61);
    z-index: 10;
}

.container-cards {
    padding: 50px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-cards h2{
    font-family: 'Racing Sans One', sans-serif;
    padding: 20px;
}

.container-cards p{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    max-width: 1000px;
    font-size: .9em;
    color: var(--cor-paleta1);
    line-height: 1.2em;
    padding: 20px;
}

.container-cards.active {
    filter: blur(10px);
}

.suple-cards {
    display: grid;
    grid-template-columns: repeat(6, 6fr);
    gap: 48px;
    margin: 30px;
    width: 1202px;
}

.card {
    width: 160px;
    height: 220px;
    border: solid 1px #2d2d2d;
    border-radius: 10px;
    background: #111111;
    box-shadow: 2px 2px 5px #0000007f;
    transition: .3s;
}

a {
    text-decoration: none;
    color: #fff;
}

.tituloSuple {
    font-family: 'Nunito', sans-serif;
    color: var(--cor-paleta1);
    text-shadow: 2px 2px 1px #000;
}

.card:hover {
    border: solid 1px #00fff6;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 5px;
    margin: 10px;
    height: 220px;
    overflow: hidden;
    text-align: center;
}

.card-content img {
    box-shadow: 1px 1px 5px #00000080;
}

.card-content h3 {
    font-size: .9em;
    max-width: 180px;
}

.divPrinc .tituloDiv {
    font-size: .9em;
    font-family: 'Nunito', sans-serif;
    color: var(--cor-paleta1);
}

.divPrinc h2 {
    font-family: 'Racing Sans One', sans-serif;
    font-size: 2em;
    color: var(--cor-paleta4);
    text-shadow: 1px 1px #000;
}

.peitoral.active {
    visibility: visible;
    opacity: 1;
    transition: .3s;
}

.triceps.active {
    visibility: visible;
    opacity: 1;
    transition: .3s;
}

.costas.active {
    visibility: visible;
    opacity: 1;
    transition: .3s;
}

.biceps.active {
    visibility: visible;
    opacity: 1;
    transition: .3s;
}

.pernas.active {
    visibility: visible;
    opacity: 1;
    transition: .3s;
}

.ombros.active {
    visibility: visible;
    opacity: 1;
    transition: .3s;
}

.macro.active {
    visibility: visible;
    opacity: 1;
    transition: .3s;
}

.suple.active {
    visibility: visible;
    opacity: 1;
    transition: .3s;
}

.macros {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 0px 200px;
    margin: 20px;
}

.macros h1 {
    font-family: 'Racing Sans One', sans-serif;
    color: var(--cor-paleta4);
    font-size: 2em;
    padding: 30px;
}

.macros h2 {
    font-family: 'Nunito', sans-serif;
    padding: 40px 0px 40px 0px;
    color: var(--cor-paleta1);
    font-size: 1em;
}

.macros h3 {
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    max-width: 1450px;
}

.macros p {
    font-family: 'Nunito', sans-serif;
    font-size: .9em;
    text-align: left;
}

.exit {
    position: absolute;
    top: 450px;
    left: 64px;
    color: #fff;
    font-size: 64px;
    border-radius: 50%;
    cursor: pointer;
    visibility: hidden;
    transition: .3s;
    z-index: 10000;
}

.exit:hover {
    background: #bbb9b952;
    transition: .2s;
}

.chests.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.tricep.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}
.back.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}
.bicep.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}
.legs.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}
.sholder.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}
.macroExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.supleExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px;
    flex-direction: column;
    
}

::-webkit-scrollbar {
    width: 0px;
    background: #F4F4F4;
}

.content {
    display: flex;
    align-items: center;
    padding: 30px;
}

.imagens {
    flex: 1;
    margin-right: 10px;
}

.imagens img {
    border-radius: 10px;
    width: 400px;
    height: 400px;
}

.textos {
    font-family: 'Nunito', sans-serif;
    flex: 2;
}

.textos h4 {
    font-family: 'Nunito', sans-serif;
}

.textos p {
    font-family: 'Nunito', sans-serif;
    line-height: 1em;
}

.add {
    font-size: 2em;
    color: #000;
    cursor: pointer;
}

.add:hover {
    font-size: 2.2em;
    transition: .5s;
}

.treino{
    position: absolute;
    top: 100px;
}

.treino h2 {
    font-family: 'Nunito', sans-serif;
}

.treino p {
    font-family: 'Nunito', sans-serif;
}

.respostaTreino {
    color: #000;
}

.exit-suples {
    position: absolute;
    top: 20px;
    left: 90%;
    color: #000;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    visibility: hidden;
    transition: .3s;
    z-index: 1000000;
}

.exit-suples:hover {
    background: #3f3d3d52;
    transition: .2s;
}

.div-suples {
    position: fixed;
    top: 85%;
    left: 48%;
    width: 60%;
    height: 600px;
    transform: translate(-50%, 50%);
    border-radius: 30px;
    padding: 10px;
    background: #f1f1f1;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    overflow: auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.61);
    z-index: 10;
}

.div-suples h2 {
    font-family: 'Racing Sans One', sans-serif;
    padding-bottom: 30px;
}

.div-suples p {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.albumina {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.albumina.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.albuExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.bcaa {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.bcaa.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.bcaaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.beta {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.beta.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.betaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.biotina {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.biotina.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.biotinaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.cafeina {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.cafeina.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.cafeinaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.caseina {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.caseina.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.caseinaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.q10 {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.q10.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.q10Exit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.colageno {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.colageno.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.colagenoExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.creatina {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.creatina.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.creatinaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.ribose {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.ribose.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.riboseExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.dextrose {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.dextrose.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.dextroseExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.dha {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.dha.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.dhaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.glutamina {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.glutamina.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.glutaminaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.hiper {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.hiper.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.hiperExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}


footer {
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.hmb {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.hmb.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.hmbExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.ioimbina {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.ioimbina.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.ioimbinaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.arginina {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.arginina.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.argininaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.carni {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.carni.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.carniExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.orni {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.orni.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.orniExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.leucina {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.leucina.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.leucinaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.acid {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.acid.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.acidExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.acidd {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.acidd.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.aciddExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.ashwa {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.ashwa.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.ashwaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.cindura {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.cindura.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.cinduraExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.cissus {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.cissus.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.cissusExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.citrus {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.citrus.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.citrusExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.vaga {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.vaga.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.vagaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.evodia {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.evodia.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.evodiaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.folli {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.folli.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.folliExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.gamma {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.gamma.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.gammaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.goji {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.goji.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.gojiExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.ksm {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.ksm.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.ksmExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.citrulina {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.citrulina.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.citrulinaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.long {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.long.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.longExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.malto {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.malto.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.maltoExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.magnesio {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.magnesio.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.magnesioExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.melatonina {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.melatonina.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.melatoninaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.mera {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.mera.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.meraExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.mucuna {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.mucuna.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.mucunaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.multi {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.multi.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.multiExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.nac {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.nac.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.nacExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.nadh {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.nadh.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.nadhExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.norvalina {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.norvalina.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.norvalinaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.cartamo {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.cartamo.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.cartamoExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.omega {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.omega.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.omegaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.pala {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.pala.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.palaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.picoli {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.picoli.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.picoliExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.porangaba {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.porangaba.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.porangabaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.pre {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.pre.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.preExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.rhodiola {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.rhodiola.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.rhodiolaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.taurina {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.taurina.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.taurinaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.termo {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.termo.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.termoExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.tribulus {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.tribulus.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.tribulusExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.tripto {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.tripto.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.triptoExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.turke {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.turke.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.turkeExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.vanadio {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.vanadio.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.vanadioExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.waxi {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.waxi.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.waxiExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.whey {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.whey.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.wheyExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.zma {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.zma.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.zmaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.maca {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}

.maca.active {
    top: -15%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.macaExit.active {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

#footer_redes {
    width: 100%;
    height: 5vh;
    background-color: #1d1d1d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    z-index: 0;
}

#footer_redes .icon {
    padding-top: 13px;
    text-decoration: none;
    color: #DDDDDD;
    font-size: 1.5em;
    transition: all .5s;
}

#instagram:hover {
    color: #CF2972;
}

#facebook:hover {
    color: #1974EC;
}

#github:hover {
    color: #6866E9;
}

#footer_copyright {
    background-color: #111;
    width: 100%;
    height: 3vh;
    text-align: center;
}

#footer_copyright p {
    font-family: 'Nunito', sans-serif;
    color: #DDDDDD;
    padding: 5px;
    font-size: .8em;
}