@charset "UTF-8" ;

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    background-image: url(./imagem/922574.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

h1 {
    font-size: 2.2em;
    font-family:'Pixelify Sans', sans-serif;
    color: #fff;
}

p {
    font-size: 1.2em;
    color: azure;
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
    color: azure;
}

#btSubmit {
    height: 30px;
    cursor: pointer;
}

#btLimpar {
    height: 30px;
    position: relative;
    cursor: pointer;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px hsl(113, 61%, 40%);
    border-radius: 10px;
    padding: 90px;
    backdrop-filter: blur(4px);
    max-width: 500px;
}
.botoes {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
